<a href="https://colab.research.google.com/github/Viiiin94/ondevice_ai_py/blob/main/Python_exam02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
money = 1000
card = False
if money >= 4800 or card:
    print("택시를 타고 가라")
elif money >= 1500:
    print("버스를 타고 가라")
elif money >= 1000:
    print('어묵을 사먹고 걸어가라')
else :
    print('걸어가라')

어묵을 사먹고 걸어가라

In [ ]:
a = ''
print(bool(a))

False

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if ('money' in pocket) or ('cellphone' in pocket):
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket:
    pass
else:
    print("카드를 꺼내라")

In [ ]:
x = 5
1 < x < 10    # x가 1보다 크고 10보다 작은가?

True

In [ ]:
score = 85
result = "합격" if score >= 60 else "불합격"
print(result)

합격

In [ ]:
treeHit = 0
while True:
    treeHit += 1
    print("나무를 %d번 찍었습니다." % treeHit)
    if treeHit == 10:
        print("나무 넘어갑니다.")
        break
print('while 종료')

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.
while 종료

In [ ]:
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [ ]:
range(1, 101, 3)

range(1, 101, 3)

In [ ]:
set_a = {4, 10, 10, 10, 1, 2, 3}
for i in seta:
    print(i)

1
2
3
4
10

In [ ]:
list_a = [4, 10, 10, 10, 1, 2, 3]
list_b =  []
for i in list_a:
    if i in list_b:
      continue
    list_b.append(i)
print(list_b)

[4, 10, 1, 2, 3]

In [ ]:
list_a = [4, 10, 10, 10, 1, 2, 3]
list_b = []
for item in list_a:
    if item not in list_b:
        list_b.append(item)

print(list_b)

In [ ]:
list_a = [4, 10, 10, 10, 1, 2, 3]
result = []

set_a = set()

for i in list_a:
    set_a.add(i)
    if i not in set_a:
        result.append(i)


print(result)

In [ ]:
list_a = [0, 4, 10, 10, 1, 2, 3, 10]
c = None;
for i in list_a:
    if (c!=i):
      c = i
      print(c)

0
4
10
1
2
3
10

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result = 0
for i in range(101):
    result += i
print(result)

55

In [ ]:
a = [(1, 2), (3, 4), (5, 6)]
for first, last in a:
    print(first, last)

1 2
3 4
5 6

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
c = []
for i in range(3):
    c.append(a[i] + b[i])
print(c)

[5, 7, 9]

In [ ]:
c = []
for first, last in zip(a, b):
    c.append(first + last)
print(c)

[5, 7, 9]

In [ ]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = [first + last for (first, last) in zip(a,b)]
print(c)

[5, 7, 9]

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [ ]:
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits):
    print(f"{i}: {fruit}")

0: apple
1: banana
2: orange

In [ ]:
list(enumerate(fruits))

[(0, 'apple'), (1, 'banana'), (2, 'orange')]

In [ ]:
def add(a, b):
    return a + b

In [ ]:
print(add(10, 20))

30

In [ ]:
def add_sub(a, b):
    return a + b, a - b

In [ ]:
a = add_sub(10, 20)
print(a)

(30, -10)

In [ ]:
a = 10, 20
print(type(a))

<class 'tuple'>

In [ ]:
def add(a, b):
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))
    return

In [ ]:
a = add(10, 20)
print(a)

10, 20의 합은 30입니다.
None

In [ ]:
def add_1():
    global a
    a = a + 1
    return

In [ ]:
a = 10
add_1()
print(a)

11

In [ ]:
# a = 10
# add_1(a)
# print(a)

In [ ]:
def change_list(my_list):
    my_list.append(4)  # 리스트에 값을 추가
a = [1, 2, 3]
change_list(a)
print(a)

[1, 2, 3, 4]

In [ ]:
a = 10

In [ ]:
a = 11

In [ ]:
a = [1, 2, 3]

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
a = -5
b = -5
print(id(a))
print(id(b))

11654184
11654184

In [ ]:
add_sub(b = 10, a = 20)

(30, 10)

In [ ]:
def save_data(name, age = 17, sex = 'male'):
    data = {'name':name, 'age':age, 'sex':sex}
    return data

In [ ]:
data1 = save_data('Tom', sex='female')
print('name : %s, age : %s, sex : %s'%(data1['name'], data1['age'], data1['sex']))

name : Tom, age : 17, sex : female

[5, 6, 7, 8, 9]

In [ ]:
def add_many(*args):
    print(type(args))
    result = 0
    for i in args:
        result = result + i   # *args에 입력받은 모든 값을 더한다.
    return result

In [ ]:
print(add_many(1, 2, 3, 4, 5))

<class 'tuple'>
15

In [ ]:
def print_kwargs(**kwargs):
    print(type(kwargs))
    print(kwargs)

In [ ]:
print_kwargs(name='Tom', age=18, sex='male', phone=11111111)

<class 'dict'>
{'name': 'Tom', 'age': 18, 'sex': 'male', 'phone': 11111111}

In [ ]:
a = int(input('더할 첫 숫자 입력 : '))
b = int(input('더할 두 번째 숫자 입력 : '))
print(a + b)
print(a)
print(type(a))

더할 첫 숫자 입력 : 10
더할 두 번째 숫자 입력 : 20
30
10
<class 'int'>

In [ ]:
print("life", "is", "too short", sep=' ', )
print(a, b)

life is too short
10 20

In [ ]:
for i in range(10):
    print(i, end='\n')

0
1
2
3
4
5
6
7
8
9

In [ ]:
f = open("새파일.txt", 'w')
f.close()

In [ ]:
f = open("새파일2.txt", 'w')

In [ ]:
f = open("새파일.txt", 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [ ]:
f = open("새파일.txt", 'r')
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
while True:
    line = f.readline()
    if not line: break
    print(line, end='')
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
lines = f.readlines()
print(lines)
for line in lines:
    print(line, end='')
f.close()

['1번째 줄입니다.\n', '2번째 줄입니다.\n', '3번째 줄입니다.\n', '4번째 줄입니다.\n', '5번째 줄입니다.\n', '6번째 줄입니다.\n', '7번째 줄입니다.\n', '8번째 줄입니다.\n', '9번째 줄입니다.\n', '10번째 줄입니다.\n']
1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("새파일.txt", 'r')
data = f.read()
print(data, end='')
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.

In [ ]:
f = open("새파일.txt",'a')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [ ]:
f = open("새파일.txt",'w')
for i in range(11, 20):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [ ]:
with open("foo.txt", "w") as f:
    f.write("Life is too short, you need python")

In [ ]:
print('%X'%int('1A', 16))

1A

In [ ]:
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)
[3, 6, 9, 12]

In [ ]:
print(sum(list(map(int, input('세 수를 공백문자로 구분하여 입력하세요.').split()))))

세 수를 공백문자로 구분하여 입력하세요.77 77 7777
7931

In [ ]:
a = [1, 3, 2]
print(a)
b = a.sort()
print(a)
print(b)

[1, 3, 2]
[1, 2, 3]
None

In [ ]:
a = [1, 3, 2]
b = sorted(a)
print(a)
print(b)

[1, 3, 2]
[1, 2, 3]