<a href="https://colab.research.google.com/github/Viiiin94/ondevice_ai_py/blob/main/Python_exam03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class car:
    def __init__(self):
        self.door_n = 4
        self.color = 'red'
        self.gear_mode = None

    def start(self):
        if(self.gear_mode == 'parking'):
            print('start')

In [ ]:
mycar = car()
print(mycar.door_n)
print(mycar.color)

mycar.gear_mode = 'parking'
mycar.start()
#

4
red
start

In [ ]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

In [ ]:
print(cal1.result)
print(cal2.result)

7
10

In [ ]:
class FourCal:
    def __init__(self):
        self.first = 0
        self.second = 0
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [ ]:
a = FourCal()
b = FourCal()

print(a.add())
a.setdata(3, 4)
print(a.add())
print(a.sub())
print(a.div())
print(a.mul())

0
7
-1
0.75
12

In [ ]:
a.third = 0
print(a.third)
#print(b.third)

0

In [ ]:
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second
        return result
    def div(self):
        if self.second == 0:
            print('0으로 나눌 수 없습니다.')
            return
        else :
            result = self.first / self.second
            return result

In [ ]:
a = MoreFourCal()
a.setdata(4, 0)
print(a.div())
print(a.pow())
b = FourCal()
b.setdata(4, 0)
#print(b.div())

0으로 나눌 수 없습니다.
None
1

In [ ]:
class Family:
    lastname = "김"
    def __init__(self, name):
        self.name = name
    def printname(self):
        print(self.lastname, self.name)

In [ ]:
print(Family.lastname)

김

In [ ]:
삿갓 = Family('삿갓')
print(삿갓.lastname)
print(삿갓.name)
삿갓.printname()
철수 = Family('철수')
print(철수.lastname)
print(철수.name)
철수.printname()
#

김
삿갓
김 삿갓
김
철수
김 철수

In [ ]:
Family.lastname = '금'
삿갓.printname()
철수.printname()

금 삿갓
금 철수

In [ ]:
철수.lastname = '박'
print(Family.lastname)
print(삿갓.printname())
print(철수.printname())
#

금
금 삿갓
None
박 철수
None

In [ ]:
import mod1
print(mod1.add(3, 4))
print(mod1.sub(4, 2))

7
2

In [ ]:
from mod1 import *
print(add(3, 4))
print(sub(4, 2))

7
2

In [ ]:
import datetime
day1 = datetime.date(1979, 3, 2)
day2 = datetime.date(2025, 11, 18)
diff = day2 - day1
print(diff.days)

17063

In [ ]:
day = datetime.date(2021, 12, 25)
day.weekday()

5

In [ ]:
import time
print(time.time())

1763436610.896481

In [ ]:
import time
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

In [ ]:
import random
random.randint(1, 6)

4

In [ ]:
import random
def random_pop(data):
    number = random.randint(0, len(data)-1)
    return data.pop(number)

if __name__ == "__main__":
    data = [1, 2, 3, 4, 5]
    while data:
        print(random_pop(data))

4
1
5
3
2